<section class="section-category container">
  <div class="category-col-left">
    <h2><span>Sub Category:</span> "{{subcategory.name}}"</h2>
    <div class="product-grid">
      {{#each subcategory.products as |product|}}
        {{#link-to 'fe_product' product.id}}
          <div class="product-tile">
            <h3>{{product.product_name}}</h3>
            {{log "are we in fe products screen"}}
            {{fe-product-tile product=product}}
          </div>
        {{/link-to}}
      {{/each}}
    </div>
  </div>
</section>
