<div class="product-specs">
  <div class="product-img">
    <img src="{{product.product_image_url}}" alt="" />
  </div>
  <div class="product-rating">
    <div class="rating">
      <span>{{product_avg}}</span>
    </div>
  </div>
</div>
