<div class="product-specs">
  <div class="product-img">
    <img src="{{product.product_image_url}}" alt="" />
  </div>
  <div class="product-rating">
    <div class="rating">
      {{log "are we in fe product tile screen"}}
      <span>{{average_score}}</span>
    </div>
  </div>
</div>
