{{yield}}

<footer>
  <p class="">{{#link-to 'admin'}}<small>Admin</small>{{/link-to}}</p>

  <div class="pertinent">
  </div>
  <div class="obligatory">
  </div>
  <div class="micro-content">
  </div>
</footer>
