<header class="header container">
  <div class="search-home container">
    <input class="input" placeholder="Look up anything..." type="text" name="name" value="">
      <button class="button"><i class="fa fa-search"></i> Search</button>
  </div>
  {{!-- {{#if fatSearch}}
  {{input class="fatSearch" placeholder="BIG FAT SEARCH AREA"}}
  {{/if}} --}}
</header>


{{yield}}
