<nav class="nav">
  <div class="container">
  <div class="logo">
    <h1>Shoptivist</h1>
  </div>

  <div class="nav-main">
    {{#each categories as |category|}}
    {{#link-to 'fe_category' category.id }}{{category.name}}{{/link-to}}
    {{/each}}
  </div>

  <div class="search-prim">
    <input type="text" name="name" value="">
    <button class="button"><i class="fa fa-search"></i></button>
  </div>
</div>
</nav>
