{{#link-to 'parent-company' parent_company.id }}{{parent_company.name}}{{/link-to}}
<button {{action 'deleteParentCompany' parent_company}}>Delete</button>
<button {{action 'AddChildCompany' parent_company}}>Add Child Company</button>
