.search-prim input:focus, .search-prim .button:focus, .search-home input:focus, .search-home .button:focus {
  outline: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.container {
  width: 1200px;
  margin: 0 auto; }

body {
  font-family: 'Rubik', sans-serif;
  color: #4d4d4d;
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

ul, li, a {
  list-style: none;
  text-decoration: none;
  color: inherit; }

a:hover, button:hover {
  cursor: pointer; }

.nav {
  width: 100vw;
  height: 6rem;
  background-color: #fff7df;
  display: flex;
  align-items: center; }
  .nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #34E8C4; }

.nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%; }
  .nav-main a {
    color: #34E8C4;
    text-decoration: none; }

.logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem; }

.search-prim {
  display: flex; }
  .search-prim input {
    padding: 0.3rem;
    border: none;
    border-bottom: 1px solid #34E8C4;
    width: 14rem;
    font-size: 1.2rem;
    color: #34E8C4;
    background-color: #fff7df; }
  .search-prim .button {
    margin: 0 0 0 0.3rem;
    border: none;
    padding: 0.3rem;
    color: #34E8C4;
    font-size: 1.2rem;
    background-color: #fff7df;
    border-radius: 0 4px 4px 0;
    width: 2rem; }

.header {
  width: 100vw;
  height: 48vh;
  background-image: url("../public/img/food-healthy-morning-cereals.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  margin: 0 auto 1rem auto; }

.search-home {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  height: 50px;
  margin: 0 auto 10vh auto; }
  .search-home input {
    flex: 1 1 85%;
    padding: 0 0 0 1rem;
    border: none;
    border-radius: 4px 0 0 4px;
    font-size: 1.2rem;
    color: #34E8C4; }
  .search-home .button {
    border: none;
    flex: 1 1 15%;
    padding: 0.4rem;
    background-color: #34E8C4;
    color: white;
    font-size: 1rem;
    border-radius: 0 4px 4px 0; }

.section-home {
  display: flex;
  flex: 1; }

.educate {
  display: flex;
  width: 60vw; }
  .educate .col1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30%; }
    .educate .col1 span {
      width: 4rem;
      height: 4rem;
      color: white;
      font-size: 2rem;
      background-color: #72FF8D;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative; }
      .educate .col1 span:before {
        content: "";
        position: absolute;
        right: 26%;
        bottom: -2.95rem;
        width: 0;
        height: 0;
        border-top: 32px solid transparent;
        border-right: 30px solid #72FF8D;
        border-bottom: 32px solid transparent;
        transform: rotate(-90deg); }
    .educate .col1 img {
      height: 18rem; }
  .educate .col2 {
    width: 70%; }

#row1 {
  display: flex;
  width: 100%;
  height: 4rem;
  margin: 0 0 0.5rem 0; }
  #row1 span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    flex: 1; }
    #row1 span:first-of-type {
      background-color: #FF3637;
      flex: 1 1 15%;
      border-right: 0.5rem solid white; }
    #row1 span:last-of-type {
      background-color: #34E8C4;
      flex: 1 1 15%;
      border-left: 0.5rem solid white; }
    #row1 span:nth-child(2) {
      background: linear-gradient(90deg, #FF3637, yellow, #34E8C4);
      flex: 1 1 70%; }

#row2 {
  display: flex;
  justify-content: space-around;
  width: 100%; }
  #row2 div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1 1 33.3333%;
    background-color: #fff7df;
    padding: 2rem 0; }
    #row2 div i {
      font-size: 4rem;
      padding: 0 0 0.5rem 0;
      color: #34E8C4; }
    #row2 div h3 {
      color: #34E8C4; }
    #row2 div:nth-of-type(2) {
      margin: 0 0.5rem; }

.home-maincontent {
  width: 40vw;
  margin: 0 0 0 1rem; }

.section-category {
  flex: 1; }

.product-tile {
  background-color: #fff7df;
  width: 16rem;
  height: 20rem;
  margin: 1rem;
  padding: 1rem; }
  .product-tile .product-img {
    width: 12rem;
    height: 12rem;
    background-color: grey;
    margin: 0.5rem auto; }

footer {
  width: 100%;
  background-color: #fff7df;
  margin: 1.5rem 0 0 0;
  display: flex;
  justify-content: center;
  padding: 1rem 0; }
  footer div:nth-of-type(2) {
    border-right: 1px solid #cdcdcd;
    border-left: 1px solid #cdcdcd; }
  footer ul {
    margin: 0 1rem;
    padding: 1rem;
    color: #4d4d4d; }
    footer ul li {
      font-size: 0.7rem; }
    footer ul a:hover {
      color: #cdcdcd; }

/*# sourceMappingURL=index.css.map */
