.nav {
  width: 100vw;
  height: 6rem;
  background-color: #fff7df;
  display: flex;
  align-items: center;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-seafoam;

  }
}
.nav-main {
  // border: 1px solid green;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  a {
    color: $color-seafoam;
    text-decoration: none;
  }

}
.logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.search-prim {
  display: flex;

  input {
    @extend %input-reset;
    padding: 0.3rem;
    border: none;
    border-bottom: 1px solid $color-seafoam;
    width: 14rem;
    font-size: 1.2rem;
    color: $color-seafoam;
    background-color: #fff7df;
  };
  .button {
    @extend %input-reset;
    margin: 0 0 0 0.3rem;
    border: none;
    padding: 0.3rem;
    color: $color-seafoam;
    font-size: 1.2rem;
    background-color: #fff7df;
    border-radius: 0 4px 4px 0;
    width: 2rem;
  }
}
