.section-home {
  display: flex;
  justify-content: space-between;
  border: 1px solid chartreuse;
}
.educate {
  display: flex;
  width: 60vw;
  // border: 1px solid chartreuse;
  flex-wrap: wrap;
}

#row1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    &:first-of-type {
      background-color: magenta;
      flex: 1 1 25%;
    }
    &:last-of-type {
      background-color: cyan;
      flex: 1 1 25%;
    }
    &:nth-child(2) {
      // border: 1px solid chartreuse;
      background: linear-gradient(90deg, magenta, cyan);
      flex: 1 1 50%;
    }
  }
}
#row2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 25%;
    border: 1px solid chartreuse;
  }
}

.blog-link {
  width: 40vw;
  height: 30rem;
  margin: 0 0 0 1rem;
  background-color: lightgreen;
  // border: 1px solid chartreuse;
}
