.section-category {
  flex: 1;
  .tile {
  }
}
.product-tile {
  background-color: #fff7df;
  width: 16rem;
  height: 20rem;
  margin: 1rem;
  padding: 1rem;
  .product-img {
   width: 12rem;
   height: 12rem;
   background-color: grey;
   margin: 0.5rem auto;

  }
}
