.section-home {
  display: flex;
  // justify-content: space-between;
  flex: 1;
  // border: 1px solisd chartreuse;
}

.educate {
  display: flex;
  width: 60vw;
  // border: 1px solid chartreuse;
  // align-items: center;
  // flex-wrap: wrap;
  .col1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    @extend %rating-badge;
    img {
      height: 18rem;
    }
  }
  .col2 {
    width: 70%;
  }
}

#row1 {
  display: flex;
  width: 100%;
  height: 4rem;
  margin: 0 0 0.5rem 0;
  // border: 1px solid magenta;

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    flex: 1;
    &:first-of-type {
      background-color: #FF3637;
      flex: 1 1 15%;
      border-right: 0.5rem solid white;
    }
    &:last-of-type {
      background-color: $color-seafoam;
      flex: 1 1 15%;
      border-left: 0.5rem solid white;
    }
    &:nth-child(2) {
      // border: 1px solid chartreuse;
      background: linear-gradient(90deg,  #FF3637, yellow, $color-seafoam);
      flex: 1 1 70%;
    }
  }
}
#row2 {
  display: flex;
  justify-content: space-around;
  width: 100%;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1 1 33.3333%;
    background-color: #fff7df;
    // margin: 0.5rem;
    padding: 2rem 0;
    // border: 1px solid gray;
    // height: 2rem;
    i {
      font-size: 4rem;
      padding: 0 0 0.5rem 0;
      color: $color-seafoam;
      // border: 1px solid gray;
    }
    h3 {
      color: $color-seafoam;
    }
    &:nth-of-type(2) {
      margin: 0 0.5rem;
    }
  }
}

.home-maincontent {
  width: 40vw;
  // height: 30rem;
  margin: 0 0 0 1rem;
  // background-color: lightgreen;
  // border: 1px solid chartreuse;
}
