.section-product {
  display: flex;
  justify-content: space-around;
  padding: 2rem 0 0 0;
  // flex: 1;
  // width: 100%;
}
.product-main {
  display: flex;
  flex-direction: column;
  flex: 1 1 60%;
  margin: 0 0 0 4vw;
}
.product-header {
  border-bottom: 0.2rem solid  $color-seafoam;
  padding: 0 0 1rem 0;
  h1 {
    font-size: 2em;
  }
  span {
    font-size: 1.5em;

  }
}
.rating-icon {
  display: flex;
  align-items: center;
  padding: 1.5rem 0 3rem 0;
  @extend %rating-badge;

  p, h3 {
    margin: 0 0 0 2rem;
  }
  .rating h3 {
  font-size: 2.2em;
  }
}
.rating-header {
  // font-size: 2em;
}

.product-ratings {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    i {
      font-size: 4rem;
      padding: 0 0 0.5rem 0;
      color: $color-seafoam;
    }
    h3 {
      color: $color-seafoam;
    }
  }
}
.health {
  display: flex;
  flex-direction: column;
  margin: 20px 0 20px 0;
  width: 40%;
  height: 80px;
}
.environment {
  display: flex;
  flex-direction: column;
  margin: 20px 0 20px 0;
  width: 40%;
  height: 80px;
}
.society {
  display: flex;
  flex-direction: column;
  margin: 20px 0 20px 0;
  width: 40%;
  height: 80px;
}
.product-aside {
  display: flex;
  flex-direction: column;
  flex: 1 1 40%;
}
  .image-section {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
    height: 300px;
  }
}
  .info-tile {
    // margin-top: 100px;
    p {
      margin: 1.5rem 0 0 0;
    }
    h3 {
      font-size: 1.8em;
      border-bottom: 2px solid  $color-seafoam;
    }
  }
