.nav .search-nav input:focus, .nav .search-nav .button:focus, .search-home input:focus, .search-home .button:focus {
  outline: none; }

.educate .col1 span, a .product-tile .product-rating span, .rating-icon span {
  width: 4rem;
  height: 4rem;
  color: white;
  font-size: 2rem;
  background-color: #72FF8D;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  .educate .col1 span:before, a .product-tile .product-rating span:before, .rating-icon span:before {
    content: "";
    position: absolute;
    right: 26%;
    bottom: -2.95rem;
    width: 0;
    height: 0;
    border-top: 32px solid transparent;
    border-right: 30px solid #72FF8D;
    border-bottom: 32px solid transparent;
    transform: rotate(-90deg); }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.container {
  width: 1200px;
  margin: 0 auto; }
  @media screen and (min-width: 768px) and (max-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) {
    .container {
      width: 1000px; } }

body {
  font-family: 'Rubik', sans-serif;
  color: #4d4d4d;
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

ul, li, a {
  list-style: none;
  text-decoration: none;
  color: inherit; }

a:hover, button:hover {
  cursor: pointer; }

.nav {
  width: 100vw;
  height: 6vh;
  background-color: #fff7df;
  display: flex;
  align-items: center; }
  .nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #34E8C4; }
  .nav .search-nav {
    display: flex; }
    .nav .search-nav input {
      padding: 0.3rem;
      border: none;
      border-bottom: 1px solid #34E8C4;
      width: 14rem;
      font-size: 1.2rem;
      color: #34E8C4;
      background-color: #fff7df; }
    .nav .search-nav .button {
      margin: 0 0 0 0.3rem;
      border: none;
      padding: 0.3rem;
      color: #34E8C4;
      font-size: 1.2rem;
      background-color: #fff7df;
      border-radius: 0 4px 4px 0;
      width: 2rem; }
  .nav .nav-main {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%; }
    .nav .nav-main li {
      color: #34E8C4;
      text-decoration: none;
      padding: 0.8rem 0.8rem; }
      .nav .nav-main li:last-child:hover {
        color: #13a386;
        background-color: #f2ffcc;
        border-radius: 4px; }
      .nav .nav-main li:nth-child(n+1):nth-child(-n+4):hover {
        background-color: #f2ffcc;
        border-radius: 4px 4px 0 0;
        color: #13a386; }
        .nav .nav-main li:nth-child(n+1):nth-child(-n+4):hover .drop-down-menu ul {
          position: absolute;
          display: flex;
          flex-direction: column; }
    .nav .nav-main .drop-down-menu ul {
      display: none;
      background-color: #f2ffcc;
      margin: 0 0 0 -0.8rem; }
      .nav .nav-main .drop-down-menu ul li {
        padding: 0.8rem 1rem 0.8rem 0.8rem;
        border-bottom: 1px solid #72FF8D; }
        .nav .nav-main .drop-down-menu ul li:hover {
          color: #13a386; }
        .nav .nav-main .drop-down-menu ul li:last-child {
          border: none; }
    .nav .nav-main .logo {
      display: flex;
      align-items: center;
      font-size: 1.5rem; }

.header {
  width: 100vw;
  height: 48vh;
  background-image: url("../img/food-healthy-morning-cereals.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  margin: 0 auto 1rem auto; }

.search-home {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  height: 50px;
  margin: 0 auto 10vh auto; }
  .search-home input {
    flex: 1 1 85%;
    padding: 0 0 0 1rem;
    border: none;
    border-radius: 4px 0 0 4px;
    font-size: 1.2rem;
    color: #34E8C4; }
  .search-home .button {
    border: none;
    flex: 1 1 15%;
    padding: 0.4rem;
    background-color: #34E8C4;
    color: white;
    font-size: 1rem;
    border-radius: 0 4px 4px 0; }

.section-home {
  display: flex;
  flex: 1; }

.educate {
  display: flex;
  width: 60vw; }
  .educate .col1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30%; }
    .educate .col1 img {
      height: 18rem; }
  .educate .col2 {
    width: 70%; }

#row1 {
  display: flex;
  width: 100%;
  height: 4rem;
  margin: 0 0 0.5rem 0; }
  #row1 span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    flex: 1; }
    #row1 span:first-of-type {
      background-color: #FF3637;
      flex: 1 1 15%;
      border-right: 0.5rem solid white; }
    #row1 span:last-of-type {
      background-color: #34E8C4;
      flex: 1 1 15%;
      border-left: 0.5rem solid white; }
    #row1 span:nth-child(2) {
      background: linear-gradient(90deg, #FF3637, yellow, #34E8C4);
      flex: 1 1 70%; }

#row2 {
  display: flex;
  justify-content: space-around;
  width: 100%; }
  #row2 div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1 1 33.3333%;
    background-color: #fff7df;
    padding: 2rem 0; }
    #row2 div i {
      font-size: 4rem;
      padding: 0 0 0.5rem 0;
      color: #34E8C4; }
    #row2 div h3 {
      color: #34E8C4; }
    #row2 div:nth-of-type(2) {
      margin: 0 0.5rem; }

.home-maincontent {
  width: 40vw;
  margin: 0 0 0 1rem; }

.section-category {
  display: flex;
  flex: 1;
  margin: 1rem auto; }
  .section-category .category-col-left {
    display: flex;
    flex-direction: column;
    width: 100%; }
    .section-category .category-col-left h2 {
      margin: 1rem 0; }

.product-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }

a {
  width: calc(24% - 0.5rem);
  margin: 0.5rem; }
  a .product-tile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fff7df;
    width: 100%;
    height: 20rem;
    padding: 1rem; }
    a .product-tile .product-specs {
      display: flex;
      justify-content: space-around; }
    a .product-tile .product-img {
      display: flex;
      justify-content: center;
      align-content: flex-end;
      width: 70%;
      height: 10rem;
      background-color: white; }
      a .product-tile .product-img img {
        max-width: 100%;
        max-height: 100%; }

.section-product {
  display: flex;
  flex: 1;
  padding: 2rem 0 0 0; }

.product-main {
  display: flex;
  flex-direction: column;
  flex: 1 1 60%;
  margin: 0 0 0 4vw; }

.product-header {
  border-bottom: 0.2rem solid #34E8C4;
  padding: 0 0 1rem 0; }
  .product-header h1 {
    font-size: 2em; }
  .product-header span {
    font-size: 1.5em; }

.row2 {
  display: flex;
  justify-content: flex-start; }

.rating-icon {
  display: flex;
  align-items: center;
  padding: 1.5rem 0 3rem 0; }
  .rating-icon p, .rating-icon h3 {
    margin: 0 0 0 2rem; }
  .rating-icon .rating h3 {
    font-size: 2.2em; }

.product-ratings {
  flex: 1 1 40%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0 1rem 0 0; }
  .product-ratings div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; }
    .product-ratings div i {
      font-size: 4rem;
      padding: 0 0 0.5rem 0;
      color: #34E8C4; }
    .product-ratings div h3 {
      color: #34E8C4; }

.ingredients {
  flex: 1 1 60%; }

.ingredient {
  background-color: #fff7df;
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
  margin: 0.8rem 0; }

.icon {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .icon i {
    margin: 0 0.5rem 0 0; }

.health-icon {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0; }

.environment-icon {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0; }

.society-icon {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0; }

.product-aside {
  display: flex;
  flex-direction: column;
  flex: 1 1 40%; }

.image-section {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 300px; }

.info-tile h3 {
  font-size: 1.8em;
  border-bottom: 2px solid #34E8C4; }

.score {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0; }

footer {
  width: 100%;
  background-color: #fff7df;
  margin: 2rem 0 0 0;
  display: flex;
  justify-content: center;
  padding: 1rem 0; }
  footer div:nth-of-type(2) {
    border-right: 1px solid #cdcdcd;
    border-left: 1px solid #cdcdcd; }
  footer ul {
    margin: 0 1rem;
    padding: 1rem;
    color: #4d4d4d; }
    footer ul li {
      font-size: 0.7rem; }
    footer ul a:hover {
      color: #cdcdcd; }

/*# sourceMappingURL=index.css.map */
