
{{header-comp route=route}}

<section class="section-home container">

  <div class="home-maincontent">
    <h3>How does this work?</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
    <p>
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <i class="fa fa-thumbs-o-up"></i>
    <i class="fa fa-shopping-basket"></i>
    <i class="fa fa-hand-rock-o"></i>
    <i class="fa fa-child"></i>
    <i class="fa fa-gift"></i>
  </div>

  <div class="educate">
    <div class="col1">
      <span>8.6</span>
      <img src="img/product-coconutwater.jpg" alt="" />
    </div>
    <div class="col2">
      <div class="gradient" id="row1">
        <span>0</span>
        <span></span>
        <span>10</span>
      </div>
      <div id="row2">
        <div class="health">
          <i class="fa fa-smile-o"></i>
          <h3>Your Health</h3>
          <!-- <img src="img/icon-health.png" alt="" /> -->
        </div>
        <div class="environment">
          <i class="fa fa-tree"></i>
          <h3>Environment</h3>
          <!-- <img src="img/icon-environment.png" alt="" /> -->
        </div>
        <div class="society">
          <i class="fa fa-users"></i>
          <h3>Society</h3>
          <!-- <img src="img/icon-society.png" alt="" /> -->
        </div>
      </div>
    </div>
  </div>

</section>
