
{{!-- {{log "TEMPLATE SAYS: " route}} --}}
{{header-comp route=route}}

<section class="section-home container">
  <div class="educate ">
    <div class="gradient" id="row1">
      <span>0</span>
      <span></span>
      <span>10</span>
    </div>
    <div id="row2">
      <div class="rating">
        <img src="img/icon-health.png" alt="" />
      </div>
      <div class="health">
        <img src="img/icon-health.png" alt="" />
      </div>
      <div class="environment">
        <img src="img/icon-environment.png" alt="" />
      </div>
      <div class="society">
        <img src="img/icon-society.png" alt="" />
      </div>
    </div>
  </div>
  <div class="blog-link">
  </div>
</section>
